In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
# Importing data
df = pd.read_excel("C:/Users/hp/Documents/GitHub/Customer-Churn-ML-Prediction/Datasets/Telco-churn-second-2000.xlsx")

In [3]:
# Checking the shape of the data
df.shape

(2000, 20)

In [4]:
df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
dtype: bool

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [6]:
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
1995,7912-SYRQT,Female,0,No,No,7,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.10,552.95
1996,3557-HTYWR,Female,0,No,No,47,Yes,Yes,DSL,Yes,Yes,No,Yes,No,Yes,Two year,No,Mailed check,74.05,3496.3
1997,4816-JBHOV,Male,1,No,No,2,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,44.70,93.7
1998,8920-NAVAY,Male,1,No,No,62,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),110.75,7053.35
1999,1699-TLDLZ,Female,0,Yes,Yes,16,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.70,301.55

In [7]:
# Replace values in multiple columns
columns_to_replace = ['MultipleLines', 'PhoneService', 'DeviceProtection', 'InternetService', 
                      'OnlineSecurity', 'OnlineBackup', 'StreamingTV', 'TechSupport', 'StreamingMovies',
                      'SeniorCitizen', 'Partner', 'Dependents', 'PaperlessBilling']

# Define the mapping of values to replace
value_mapping = {
    np.nan: 'No',
    '': 'No',
    'NaN': 'No',
    'Nan': 'No',
    'NaN': 'No',
    0: 'No',
    1: 'Yes',
    'No phone service': 'No',
    'No internet service': 'No'
}

# Loop through each column and replace the values
for column in columns_to_replace:
    df[column] = df[column].replace(value_mapping)

## Handling column "TotalCharges"

In [8]:
# Checking the unique values of the column
df["TotalCharges"].unique()

array([1059.55, 181.8, 2212.55, ..., 552.95, 7053.35, 301.55],
      dtype=object)

In [9]:
# changing to string to replace non int values
df.TotalCharges = df.TotalCharges.astype(str)

In [10]:
# replacing values
df.TotalCharges = df.TotalCharges.apply(lambda x: x.replace('', "0"))
df.TotalCharges = df.TotalCharges.apply(lambda x: x.replace("0.0", "0"))
df.TotalCharges = df.TotalCharges.apply(lambda x: x.replace("000 000", "0"))
df.TotalCharges = df.TotalCharges.apply(lambda x: x.replace('0000000 0000000', "0"))
df.TotalCharges = df.TotalCharges.apply(lambda x: x.replace('0 0', '0'))

In [11]:
# Changing to float
df.TotalCharges = df.TotalCharges.astype(float)

In [12]:
#Getting the mean
df.TotalCharges.mean()

93567784350.045

In [13]:
# Checking for empty cells
df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines       False
InternetService     False
OnlineSecurity      False
OnlineBackup        False
DeviceProtection    False
TechSupport         False
StreamingTV         False
StreamingMovies     False
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges        False
dtype: bool

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   object
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 312.6+ KB

In [15]:
df.to_csv("C:/Users/hp/Documents/GitHub/Customer-Churn-ML-Prediction/Datasets/testing_data.csv")