In [1]:
%pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hp\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [3]:
server = "dap-projects-database.database.windows.net"
database = "dapDB"
username = "dataAnalyst_LP2"
password = "A3g@3kR$2y"

In [4]:
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [5]:
connection = pyodbc.connect(connection_string)

In [6]:
query = "Select * from dbo.LP2_Telco_churn_first_3000"
data = pd.read_sql(query, connection)

In [7]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [8]:
data.shape

(3000, 21)

In [58]:
data.to_csv("data1.csv")