In [65]:
import pandas as pd

In [82]:
train = pd.read_csv("C:/Users/Administrator/Documents/Data Analytics/project_2/Customer_churn_prediction-main/data/training.csv")
test = pd.read_csv("C:/Users/Administrator/Documents/Data Analytics/project_2/Customer_churn_prediction-main/data/testing.csv")

In [83]:
train.shape , test.shape

((5043, 22), (2000, 21))

In [84]:
train.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,No,Yes,No,1,No,No,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.850000,29.850000,No
1,1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.950001,1889.500000,No
2,2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.849998,108.150002,Yes
3,3,7795-CFOCW,Male,No,No,No,45,No,No,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.299999,1840.750000,No
4,4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.699997,151.649994,Yes

## Handling Categorical columns

In [85]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()

In [86]:
train.columns

Index(['Unnamed: 0', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges',
       'Churn'],
      dtype='object')

In [87]:
for i in train.columns:
    if ( train[i].dtype == "object"):
        enc.fit(train[[i]])
        train[i] = enc.transform(train[[i]])

In [72]:
train

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,3853.0,0.0,0.0,1.0,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,29.850000,29.850000,0.0
1,1,2831.0,1.0,0.0,0.0,0.0,34,1.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,0.0,3.0,56.950001,1889.500000,0.0
2,2,1847.0,1.0,0.0,0.0,0.0,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,3.0,53.849998,108.150002,1.0
3,3,3965.0,1.0,0.0,0.0,0.0,45,0.0,0.0,0.0,...,2.0,2.0,0.0,0.0,1.0,0.0,0.0,42.299999,1840.750000,0.0
4,4,4648.0,0.0,0.0,0.0,0.0,2,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,70.699997,151.649994,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,2038,3474.0,1.0,0.0,1.0,1.0,24,1.0,2.0,0.0,...,2.0,2.0,2.0,2.0,1.0,1.0,3.0,84.800000,1990.500000,0.0
5039,2039,1082.0,0.0,0.0,1.0,1.0,72,1.0,2.0,1.0,...,2.0,0.0,2.0,2.0,1.0,1.0,1.0,103.200000,7362.900000,0.0
5040,2040,2414.0,0.0,0.0,1.0,1.0,11,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,29.600000,346.450000,0.0
5041,2041,4256.0,1.0,1.0,1.0,0.0,4,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,3.0,74.400000,306.600000,1.0
5042,2042,1593.0,1.0,0.0,0.0,0.0,66,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,1.0,0.0,105.650000,6844.500000,0.0

In [74]:
#train.to_csv("C:/Users/Administrator/Documents/Data Analytics/project_2/Customer_churn_prediction-main/data/train_model.csv")

In [88]:
train_labels = train["Churn"].copy()

In [78]:
train_labels

0       0.0
1       0.0
2       1.0
3       0.0
4       1.0
       ...
5038    0.0
5039    0.0
5040    0.0
5041    1.0
5042    0.0
Name: Churn, Length: 5043, dtype: float64

In [100]:
#train_num = train.drop("Churn", axis = 1)
train = train.drop("Churn", axis=1)

In [91]:
from sklearn.impute import SimpleImputer 

imputer = SimpleImputer(strategy="median")

In [101]:
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler 

num_pipeline = Pipeline([('imputer',SimpleImputer(strategy="median")),('std_scaler', StandardScaler())])

train_num_tr = num_pipeline.fit_transform(train_num)

In [102]:
train_num_tr

array([[-1.62920381,  0.91496796, -1.01498435, ...,  0.41085777,
        -1.17212826, -0.03527744],
       [-1.627956  ,  0.21294299,  0.98523686, ...,  1.34754661,
        -0.27075245, -0.03218651],
       [-1.62670819, -0.46297929,  0.98523686, ...,  1.34754661,
        -0.37386193, -0.03514729],
       ...,
       [ 0.91632577, -0.07349968, -1.01498435, ...,  0.41085777,
        -1.18044355, -0.03475122],
       [ 0.91757358,  1.19179386,  0.98523686, ...,  1.34754661,
         0.30965371, -0.03481745],
       [ 0.91882139, -0.63745516,  0.98523686, ..., -1.46251992,
         1.34906308, -0.0239508 ]])

In [103]:
some_data = train.iloc[:5]
some_labels = train_labels.iloc[:5]

In [105]:
some_labels

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Churn, dtype: float64

In [106]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(train, train_labels)

LinearRegression()

In [108]:
some_data = train.iloc[:5]

some_labels = train_labels.iloc[:5] 

#some_data_prepared = full_pipeline.transform(some_data)

print("Predictions:", lin_reg.predict(some_data))

Predictions: [0.45537408 0.09551662 0.33504926 0.02782742 0.56584953]

In [110]:
some_labels

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Churn, dtype: float64

In [112]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor()

tree_reg.fit(train, train_labels)

DecisionTreeRegressor()

In [114]:
print("Predictions:", tree_reg.predict(some_data))

Predictions: [0. 0. 1. 0. 1.]

In [117]:
some_labels

0    0.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Churn, dtype: float64

In [119]:
import numpy as np

In [120]:
from sklearn.metrics import mean_squared_error

train_predictions = lin_reg.predict(train)

lin_mse = mean_squared_error(train_labels, train_predictions)

lin_rmse = np.sqrt(lin_mse)

lin_rmse

0.3769832582678978

In [121]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, train, train_labels, scoring="neg_mean_squared_error", cv=10)

tree_rmse_scores = np.sqrt(-scores)

In [122]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [123]:
display_scores(tree_rmse_scores)

Scores: [0.5431846  0.51894791 0.51894791 0.5078745  0.54554473 0.50395263
 0.5527708  0.54006172 0.50395263 0.5251606 ]
Mean: 0.5260398016270365
Standard deviation: 0.017299057449619466